/*
Sass::SyntaxError: Undefined mixin 'float'.
on line 18 of /Users/tel/code/school/app/stylesheets/main.sass

14:   font-weight: bold
15: 
16: 
17: .login_menu
18:   +float(right)
19:   padding: 5px
20:   ul
21:     margin: 0
22:     padding: 0
23:   li
24:     list-style: none


Backtrace:
/Users/tel/code/school/app/stylesheets/main.sass:18
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/tree/mixin_node.rb:27:in `_perform'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/tree/node.rb:158:in `perform'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/tree/node.rb:202:in `block in perform_children'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/tree/node.rb:202:in `map'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/tree/node.rb:202:in `perform_children'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/tree/node.rb:193:in `perform!'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/tree/rule_node.rb:160:in `perform!'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/tree/node.rb:181:in `_perform'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/tree/node.rb:158:in `perform'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/tree/node.rb:202:in `block in perform_children'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/tree/node.rb:202:in `map'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/tree/node.rb:202:in `perform_children'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/tree/node.rb:193:in `perform!'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/tree/node.rb:181:in `_perform'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/tree/node.rb:158:in `perform'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/tree/node.rb:103:in `render'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/plugin.rb:97:in `update_stylesheet'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/plugin.rb:83:in `block (2 levels) in update_stylesheets'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/plugin.rb:78:in `each'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/plugin.rb:78:in `block in update_stylesheets'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/plugin.rb:76:in `each'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/plugin.rb:76:in `update_stylesheets'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/plugin.rb:63:in `check_for_updates'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/haml-2.2.23/lib/sass/plugin/rails.rb:19:in `process'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/compass-0.8.17/lib/compass/app_integration/rails/action_controller.rb:7:in `process_with_compass'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/actionpack-2.3.5/lib/action_controller/base.rb:391:in `process'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/actionpack-2.3.5/lib/action_controller/base.rb:386:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/actionpack-2.3.5/lib/action_controller/routing/route_set.rb:437:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/actionpack-2.3.5/lib/action_controller/dispatcher.rb:87:in `dispatch'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/actionpack-2.3.5/lib/action_controller/dispatcher.rb:121:in `_call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/actionpack-2.3.5/lib/action_controller/dispatcher.rb:130:in `block in build_middleware_stack'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/activerecord-2.3.5/lib/active_record/query_cache.rb:29:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/activerecord-2.3.5/lib/active_record/query_cache.rb:29:in `block in call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/activerecord-2.3.5/lib/active_record/connection_adapters/abstract/query_cache.rb:34:in `cache'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/activerecord-2.3.5/lib/active_record/query_cache.rb:9:in `cache'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/activerecord-2.3.5/lib/active_record/query_cache.rb:28:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/activerecord-2.3.5/lib/active_record/connection_adapters/abstract/connection_pool.rb:361:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/actionpack-2.3.5/lib/action_controller/string_coercion.rb:25:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/rack-1.0.1/lib/rack/head.rb:9:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/rack-1.0.1/lib/rack/methodoverride.rb:24:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/actionpack-2.3.5/lib/action_controller/params_parser.rb:15:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/actionpack-2.3.5/lib/action_controller/session/cookie_store.rb:93:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/actionpack-2.3.5/lib/action_controller/failsafe.rb:26:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/rack-1.0.1/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/rack-1.0.1/lib/rack/lock.rb:11:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/actionpack-2.3.5/lib/action_controller/dispatcher.rb:114:in `block in call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/actionpack-2.3.5/lib/action_controller/reloader.rb:34:in `run'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/actionpack-2.3.5/lib/action_controller/dispatcher.rb:108:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/rails-2.3.5/lib/rails/rack/static.rb:31:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/rack-1.0.1/lib/rack/urlmap.rb:46:in `block in call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/rack-1.0.1/lib/rack/urlmap.rb:40:in `each'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/rack-1.0.1/lib/rack/urlmap.rb:40:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/rails-2.3.5/lib/rails/rack/log_tailer.rb:17:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/rack-1.0.1/lib/rack/content_length.rb:13:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/rack-1.0.1/lib/rack/chunked.rb:15:in `call'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/rack-1.0.1/lib/rack/handler/mongrel.rb:64:in `process'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/mongrel-1.1.6/lib/mongrel.rb:165:in `block in process_client'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/mongrel-1.1.6/lib/mongrel.rb:164:in `each'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/mongrel-1.1.6/lib/mongrel.rb:164:in `process_client'
/Users/tel/.rvm/gems/ruby-1.9.2-head/gems/mongrel-1.1.6/lib/mongrel.rb:291:in `block (2 levels) in run'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined mixin 'float'.\A on line 18 of /Users/tel/code/school/app/stylesheets/main.sass\A \A 14:   font-weight: bold\A 15: \A 16: \A 17: .login_menu\A 18:   +float(right)\A 19:   padding: 5px\A 20:   ul\A 21:     margin: 0\A 22:     padding: 0\A 23:   li\A 24:     list-style: none\A "; }
