<p>
  <b>Time:</b>
  <%=h @time_slot.time %>
</p>

<p>
  <b>Max students:</b>
  <%=h @time_slot.max_students %>
</p>


<%= link_to 'Edit', edit_time_slot_path(@time_slot) %> |
<%= link_to 'Back', time_slots_path %>