- form_for(lesson) do |f|
  = f.error_messages

  %p
    = f.label :time_slot_id
    %br
    = f.collection_select(:time_slot_id, TimeSlot.upcoming, :id, :begins_at, {:prompt => true})

  %p
    = f.submit button_label
