.lessons
  .spinner{'style' => 'display: none'}
    = image_tag 'spinner.gif'
  .week
    - TimeSlot.each_day do |day|
      .day
        %span.name= day.strftime('%A')
        %ol
          - TimeSlot.each_slot(day) do |slot|
            %li.lesson{slot.dom_attributes}
              %span= slot.begins_at.strftime('%H:%M')
